@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.big-logo {
  display: block;
  margin: auto;
  width: 215px;
}

body {
  padding: 45px 0 0 0;
}

nav {
  position: fixed;

}

ul > li::before {
  content: none;
}

.jello, .jello a {
  color: black;
  filter: grayscale(100%);
}

.jello:hover, .jello a:hover{
    filter: grayscale(0%);
    color:#c73535;
    text-decoration: none;
}

.miraj, .miraj a {
    filter: grayscale(100%);
    color: black;
}

.miraj:hover, .miraj a:hover {
    filter: grayscale(0%);
    color:#2751a5;
    text-decoration: none;
}

.juice, .juice a {
    filter: grayscale(100%);
    color: black;
}

.juice:hover, .juice a:hover {
    filter: grayscale(0%);
    color:#852b7b;
    text-decoration: none;
}

.red, .red a {
    filter: grayscale(100%);
    color: black;
}

.red:hover, .red a:hover {
    filter: grayscale(0%);
    color:#c73535;
    text-decoration: none;
}

h4 {
  color: white;
}

footer a:link {
  color: #9d9d9d;
}

footer a:hover {
  color:white;
  text-decoration: none;
}

footer {
  background-color: #222;
  display: block;
}
